<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>new</h1>
<h2><%= ten %></h2>
<h2><%= tuoi %></h2>
<% for (var i=0 ; i < mang1.length;i++){ %>
<h1><%= mang1[i]%></h1>

   <%}%>

<h1>Nhật</h1>
</body>
</html>
